body {
	line-height: 1.42857143;
	margin: 0;
	background-color: white;
	display: grid;
	grid-template-rows: 75px max-content auto 80px;
	grid-template-columns: 1fr minmax(100px,1170px) 1fr;
	height: 100%;
}
*, ::before, ::after  {
	box-sizing: border-box;
}
body > div {
	padding-left: 15px;
	padding-right: 15px;
}

nav {
	background-color: white;
	grid-column: 2/3;
	grid-row: 1/2;
	padding: 0 15px;
}

.hero {
	grid-column: 2/3;
	grid-row: 2/3;
}
.hero.page {
	padding-top: 65px;
	padding-bottom: 130px;
}
.herobg {
	grid-column: 1/4;
	grid-row: 2/3;
	background-image: url("./bg.jpg");
}
.pagebg {
	grid-column: 1/4;
	grid-row: 3/4;
	background-color: #f1f5f8;
}
.content {
	grid-column: 2/3;
	grid-row: 3/4;
	padding: 50px 15px;
}
.content.page {
	background-color: white;
	margin-top: -100px;
	margin-bottom: 100px;
	padding: 80px;
}

footer {
	padding: 10px;
	background-color: black;
	color: white;
	grid-column: 1/4;
	grid-row: 4/5;
	text-align: center;
}
footer p, footer a, footer a:hover {
	padding-top: 20px;
	margin-bottom: 0;
	color: #69656e;
	font-size: 14px;
}
footer .fab {
	font-family: 'FontAwesome';
}

.soft-footer {
	   width: 100%;
	   border-top: #e5e5e5 solid 1px;
	   padding-top: 20px;
}
.soft-footer p {
	   font-size: 13px;
	   margin-bottom: 0;
}

.indexhero {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	padding: 35px 15px;
}
.indexhero > div {
	background-color: white;
	padding: 40px;
}
.indexhero > div, .content.page {
	border-radius: 3px;
	box-shadow: rgba(72,75,76,0.05) 0 10px 15px;
}
.indexhero > div p {
	font-size: 16px;
}
.page {
	margin-left: 8.33%;
	width: 83.33%;
}
@media (max-width:900px) {
	.page {
		margin-left: 0;
		width: 100%;
	}
	.content.page {
		padding: 15px;
	}
	.indexhero {
		padding: 40px 0;
	}
	.indexhero > div {
		padding: 15px;
	}
}


dl {
	display: grid;
	grid-template-columns: 250px auto;
}
dt, dd {
	margin-left: 0;
	padding-bottom: 16px;
	font-weight: normal;
}
dd .fa {
	display: inline-block;
	width: 30px;
}
.hero dt, .hero dd {
	font-size: 18px;
}
@media (max-width:900px) {
	dl {
		grid-template-columns: auto;
	}
}


a {
	color: #007fd4;
	text-decoration: none;
}
h1, h2, h3, h4, h5 {
	font-weight: 500;
}
.text-center {
	text-align: center;
}
h2 {
	margin-top: 0;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
td, th {
	text-align: left;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}

.hero p {
	font-size: 18px;
	word-wrap: break-word;
	margin-bottom: 15px;
}
.hero p i {
	margin-right: 8px;
}
.hero .btn {
	margin-bottom: 30px;
}
.page h3 {
	text-align: center;
}
.checks div {
	margin-bottom: 10px;
}



nav ul {
	margin: 0;
	padding: 0;
	display: inline-grid;
	grid-template-columns: 200px repeat(3, auto);
	width: 600px;
	list-style: none;
}
nav li {
	text-align: center;
	line-height: 1;
}
nav .logo, nav .logo a:hover {
	background: url(./logo50.png) no-repeat;
	background-size: auto 25px;
	background-position: 18px 24px;
	padding: 0;
}
nav a, nav a:hover {
	display: inline-block;
	padding-top: 28px;
	padding-bottom: 28px;
	width: 100%;
	color: #29343a;
	text-decoration: none;
}
nav .logo a {
	width: 100%;
	height: 100%;
	padding: 0;
}
nav a:hover {
	background-color: #eef2f5;
}
.current-menu-item a{
	font-family: 'Tahoma-Bold';
}
.current-menu-item a:hover {
	background-color: white;
}
nav li:nth-child(2).current-menu-item > a {
	border-bottom: #35b7b1 solid 2px;
}
nav li:nth-child(3).current-menu-item > a {
	border-bottom: #a448c6 solid 2px;
}
nav li:nth-child(4).current-menu-item > a {
	border-bottom: #70b32f solid 2px;
}
@media (min-width:480px) {
	nav li:nth-child(2) > a:before {
		content: "\f015";
		font-family: 'FontAwesome';
		color: #35b7b1;
		margin-right: 8px;
	}
	nav li:nth-child(3) > a:before {
		content: "\f09e";
		font-family: 'FontAwesome';
		color: #a448c6;
		margin-right: 8px;
	}
	nav li:nth-child(4) > a:before {
		content: "\f15c";
		font-family: 'FontAwesome';
		color: #70b32f;
		margin-right: 8px;
	}
}
@media (max-width:480px) {
	nav ul {
		grid-template-columns: 30px repeat(3, auto);
		width: 100%;
	}
	nav .logo, nav .logo a:hover {
		background-position: 0 6px;
	}
	nav ul a, nav ul a:hover {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	body {
		grid-template-rows: 38px repeat(3, auto);
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
}
