@font-face {
	font-family: 'Tahoma';
	src: url('./fonts/tahoma.eot?#iefix') format('embedded-opentype'),  url('./fonts/tahoma.woff') format('woff'), url('./fonts/tahoma.ttf')  format('truetype'), url('./fonts/tahoma.svg#Tahoma') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Tahoma-Bold';
	src: url('./fonts/tahoma-bold.eot?#iefix') format('embedded-opentype'),  url('./fonts/tahoma-bold.woff') format('woff'), url('./fonts/tahoma-bold.ttf')  format('truetype'), url('./fonts/tahoma-bold.svg#Tahoma') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Tahoma', sans-serif;
	background: #f1f5f8;
	font-weight: 400;
	font-size: 16px;
	overflow-x: hidden;
}
a,
a:hover,
a:focus {
	text-decoration:none;
}
h1, h2, h3, h4, h5 {
	color: #29343a;
}
h1 {
	font-family: 'Tahoma-Bold';
	font-size: 36px;
	margin: 0 0 25px 0;
	line-height: 1.1;
	letter-spacing: -1px;
}
h2 {
	font-family: 'Tahoma-Bold';
	font-size: 36px;
	margin: 0 0 15px 0;
	line-height: 1.3;
	letter-spacing: -1px;
}
h3 {
	font-family: 'Tahoma-Bold';
	font-size: 24px;
	margin: 0 0 15px 0;
}
h4 {
	font-size: 24px;
	font-weight: 400;
	margin: 0 0 15px 0;
}
h5 {
	font-size: 20px;
	margin: 0 0 15px 0;
}
p {
	font-size: 16px;
	color: #29343a;
	margin: 0 0 15px 0;
	line-height: 1.5;
}
strong,
p strong {
	font-family: 'Tahoma-Bold';
	font-weight: normal;
}
p a {
	color: #007fd4;
	text-decoration: none;
}
p a:hover,
p a:focus {
	color: #007fd4;
	text-decoration: underline;
}
.btn {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	background: #007fd4;
	padding: 15px 35px;
	border-radius: 50px;
	border: none;
	display: inline-block;
	line-height: 1;
	box-shadow: #00426e 0 3px 0;
	transition:all 0.2s ease-in-out 0s;
}
.btn:hover,
.btn:focus {
	background: #0085de;
	color: #fff;
	box-shadow: none;
}
.title-1,
.title-2 {
	position: relative;
	padding-left: 60px;
}
.title-1:before,
.title-2:before {
	font-family: 'FontAwesome';
	font-size: 27px;
	text-align: center;
	padding-top: 5px;
	background: #f6f6f6;
	border-radius: 50px;
	width: 44px;
	height: 44px;
	position: absolute;
	top: 0;
	left: 0;
}
.title-1:before {
  	content: "\f128";
	color: #e11a73;
}
.title-2:before {
  	content: "\f09e";
	color: #a448c6;
}
.feeds li {
	margin-bottom: 8px;
	position: relative;
	padding-left: 22px;
}
.feeds li a {
	display: inline-block;
}
.feeds li:before {
  	content: "\f09e";
	font-family: 'FontAwesome';
	color: #29343a;
	left: 0;
	top: 0;
	position: absolute;
}
.table-responsive {
	width: 100%;
	margin-bottom: 30px;
}
tr td {
	padding: 8px 10px;
}
.table-1 tr:nth-child(odd) {
	background: #eff3f5;
}
.table-1 td:first-child,
.table-1 td:last-child {
	width: 50%;
}
.table-1 td:first-child a {
	color: #007fd4;
}
.table-1 td:first-child a:hover,
.table-1 td:first-child a:focus {
	color: #007fd4;
	text-decoration: underline;
}

footer {
	padding: 35px 0;
	background: #10071b;
	text-align: center;
}
footer p {
	margin: 0;
	color: #69656e;
	font-size: 14px;
}

.page h3 {
	margin-bottom: 30px;
}
.form input[type=text],
.form input[type=tel],
.form input[type=email],
.form select,
.form textarea {
	font-size: 1.000em;
	color: #29343a;
	background: #fafbfc;
	border: #d1d7dd solid 2px;
	padding: 10px 15px;
	width: 100%;
	margin: 0 0 15px 0;
	border-radius: 2px;
}
.form input[type=text]:focus,
.form input[type=tel]:focus,
.form input[type=email]:focus,
.form textarea:focus {
	box-shadow: rgba(0,0,0,0.1) 0 5px 15px;
	transition: all 0.5s ease-in;
	transform: scale(1.01);
}
.filter {
	margin-bottom: 20px;
}
.check-row input[type=checkbox] {
	margin-right: 10px;
	float: left;
}
.check-row {
	margin-bottom: 5px;
}
.check-row label {
	font-family: 'Tahoma';
	padding: 0;
	color: #007fd4;
	font-size: 16px;
	text-transform: none;
	font-weight: normal;
}
.form textarea {
	min-height: 115px;
}

/* ///////////  Checkboxes styling  \\\\\\\\\\\ */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0; top: 2px;
	width: 1.25em;
	height: 1.25em;
	border: 2px solid #d1d7dd;
	background: #fff;
	border-radius: 2px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: .15em; left: .2em;
	font-size: 1.2em;
	line-height: 0.8;
	color: #007fd4;
	transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
[type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: 2px dotted #007fd4;
}

/* hover style just for information */
label:hover:before {
	border: 2px solid #4778d9!important;
}

.select-wrap {
	width: 100%;
	height: 50px;
	overflow: hidden;
	background: url(../img/select-btn.png) no-repeat 96% center #fff;
	background-size: 28px;
	padding: 15px 20px;
	display: inline-block;
	position: relative;
	padding-right: 4px;
}
.select-wrap select {
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	padding: 12px 20px;
}
.table-2 tr td {
	padding: 5px 10px;
	padding-left: 0;
}
.soft-footer {
	width: 100%;
	border-top: #e5e5e5 solid 1px;
	padding-top: 20px;
}
.soft-footer p {
	font-size: 13px;
	margin-bottom: 0;
}

@media (max-width:768px){
	.table-responsive {
		border: none;
	}
	.table-1 td:first-child,
	.table-1 td:last-child {
		width: 100%;
		float: left;
	}
}

@media (max-width:640px){
	h1 {
		font-size: 32px !important;
	}
	h2 {
		font-size: 32px !important;
	}
}

@media (max-width:480px){
	h1 {
		font-size: 30px !important;
	}
	h2 {
		font-size: 30px !important;
	}
}
